@font-face {
    font-family: "Rokkitt";
    src: url("../fonts/Rokkitt/Rokkitt-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

html {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
    background: #FFF;
    font-family: 'Rokkitt', serif;
    color: #333;
}

header {
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0px;
    background: #EEE;

    text-align: center;
    font-size: 30px;
    line-height: 50px;
}

header h1 {
    display: block;
    position: fixed;
    top: 0;
    left: 1%;
    margin: 0;
    padding: 0;
    line-height: 70px;
    font-size: 1.5em;
    text-align: left;
}

header .icon {
    color: #FA7292;
}

footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    padding: 1%;
    text-align: center;
}

.decal {
    position: fixed;
    width: 100%;
    top: 70px;
    height : 2px;
    background-color: #DDD;
    border-bottom: 1px solid #EEE;
}

content {
    flex: 1;
    min-height: 100%;
    padding: 25px;
    margin-top: 90px;
}
